li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  background-color: lightgrey;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.logo {
  font-size: 32px;
  color: black;
}
