*{
  text-decoration: none;
  font-family: sans-serif;
}
body {
  background-color: #1f2937;
}
li {
  list-style: none;
}

header {
  text-decoration: none;
  background-color: #1f2937;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
margin: 1em 4em;
color: #1f2937 ;
  background-color: #1f2937;
}

.menu  {
  color: lightgrey;
  display: flex;
  gap: 4em;
  font-size: 18px;
  background-color: #1f2937;
}

.menu a:link, a:visited {
  color: lightgrey;
  font-size: 18px;
}

.logo {
  font-size: 32px;
  color: white;
}

.grid-container1 {
  background-color: #1f2937;
  display: grid;
  margin: 6em 4em;
  grid-gap: 2em;
grid-template-columns: repeat(2, 1fr);
grid-auto-rows:  1fr;
color: lightgrey;
}

.grid1 {
  align-content: center;
text-align: left;
border-radius: 8px;
color: white;
}

.grid1 a:link, a:visited {
  text-decoration: none;
  display:inline-grid;
  text-align: center;
  border: 4px solid blue;
  background-color: blue;
  color: white;
  border-radius: 8px;
  padding: 0.25em 1em;
}

}

.grid2 {
  background-color: grey;
}

.grid3 {
  margin: 1em 4em;
  text-align: center;
color: lightgrey;
}

.grid-container2 {
  background-color: lightgrey;
  display: grid;
grid-template-columns: repeat(4, 1fr);
text-align: center;
  grid-column-gap: 2em;
}

.box1 {
  outline: 2px solid green;
  text-align: center;
margin-left: 4em;
  border-radius: 8px;
transition-property: width, height;
transition-duration: 1s, 1s;
}

.box1 a:hover {
  outline: 4px solid black;
  width: 200px;
}

.box2 {
  outline: 2px solid green;
    text-align: center;
    padding: 6em;
    border-radius: 8px;
}

.box3 {
  outline: 2px solid green;
    text-align: center;
    padding: 6em;
    border-radius: 8px;
}

.box4 {
  outline: 2px solid green;
    text-align: center;
margin-right: 4em;
    border-radius: 8px;
}

.grid4 {
  margin: 1em 4em;
  display: grid;
  outline: 2px solid green;
}

.grid5{
  color: lightgrey;
}
.grid-container3 {
  margin: 1em 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  outline: 2px solid green;
  border-radius: 5px;
}

.bottom1 {
text-align: center;
padding: 1em;
}

.bottom2 {
  text-align: center;
  padding: 1em;
}

footer {
  display: grid;
text-align: center;
}
